* {
    margin: 0;
    font-family: sans-serif;
}

header {
    background-color: #FBE7C6;
}

.bloco {
    width: 940px;
    margin: 0px auto;
    position: relative;
}

.img-logo {
    width: 220px;
    height: 220px;
    border: solid;
    border-color: white;
    border-radius: 200px;
    border-width: 4px;
    background-color: rgb(255, 206, 143);
}

nav{
    position: absolute; 
    right: 0px; 
    top: 100px;
}

nav li {
    display: inline;
    margin-right: 20px;
}

.link {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.link:hover{
    color: darkgoldenrod;
    transition: 400ms;
}


/* Main CSS */

.formulario {
    color: white;
    width: 600px;
    height: 700px;
    display: block;
    margin: 20px auto;
    box-shadow: 0px 0px 3px black;
    padding: 20px;
    border-radius: 10px;
    background-image: linear-gradient(#ddb892, #b08968);
}

form label{
    display: block;
    margin: 5px 0;
    font-size: 20px;
}

legend {
    display: block;
    margin: 20px 0;
    font-size: 20px;
    width: 200px;
}

fieldset {
    border-style: none;
}

form input{
    display: block;
    width: 95%;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border-style: none;
    border-radius: 12px;
    background-color: #ffffff6b;
}

.textaria{
    border-style: none;
    background-color: #ffffff6b;
    border-radius: 20px;
}

.radio {
    display: inline;
    width: 30px;
}

.botao {
    font-size: 20px;
    width: 100%;
    height: 50px;
    background-color: rgb(255, 197, 37);
    color: white;
    margin: 90px 0;
    border-radius: 5px;
    border-style: none;
}

.botao:hover {    
    background-color:  rgb(211, 164, 35);
    color: #ffffff;
    transition: 300ms;
}


/* Footer */ 

.table {
    margin: 20px auto;
    width: 20%;
    border: 2px solid black;
}

.trow{
    color: white;
    border: 2px solid black;
}

footer {
    text-align: center;
    background-image: linear-gradient(rgb(255, 123, 0), rgb(255, 188, 100));
}

footer img {
    margin: 12px;
}

footer p {
    color: white;
}
